*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 450px;
    box-shadow: 0 0 1px black;
    border-radius: 8px;
    background-color: #FFDC40;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*! input hissenin duzeldilmesi*/
.input-side{
    width: 373.5px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-radius:8px;
    box-shadow: 0 0 3px black;
    padding: 6px;
    margin-top: 20px;
}
.add{
    width: 335px;
    border: none;
    &:focus{
        border:none;
        outline: none;
    }
}
/*! input hissenin sonu */

.add-button{
    background-color: #833AE0;
    border-radius:22px;
    color: #FFF;
    width: 200px;
    padding: 12px;
    border:none;
    font-size: 1em;
    position: relative;
    margin-bottom: 15px;
    &:hover{
        background-color: #975de2;
        cursor: pointer;
    }
}
.add-button::after{
    content: '+';
    width: 37px;
    height: 20px;
    color: #FFF;
    position: absolute;
    border-radius: 22px;
    top: 0;
    left:0;
    padding: 11px;
    display: flex;
    justify-content: center;
    align-items:center;
    
    background-color: #975de2;

}
.inner-cont{
    background-color: #FFF;
    width: 100%;
    border-bottom-left-radius:8px ;
    border-bottom-right-radius: 8px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 30px;
}
.inner-cont h2{
    margin-top: 10px;
}
.inner{
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}
.interactive-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.lists-container{
    list-style-type: decimal;
    margin-top: 15px;
    padding: 5px;
    box-shadow: 0 0 1px black;
    border-radius: 8px;
}
.ulContainer{
    width: 370px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
li{
    margin-left: 20px;
    list-style-type: decimal;
    position: relative;
    flex: 1;
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
    max-width: 310px;
}
img{
    cursor: pointer;
    position: absolute;
    right: 0;
}
.filter, .filter2{
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 10px;
    position: absolute;
    top: -20px;
    right: -3px;
}
.adder, .adder2{
    display: none;
}
@media screen and (min-width:320px) and (max-width: 500px){
    .container{
        width: 350px;
    }
    .inner{
        width: 280px;
    }
    .input-side{
        width: 305px;
    }
    .add{
        width: 255px;
    }
    .ulContainer{
        width: 300px;
    }
    .add-button{
        padding: 8px;
        width: 160px;
    }
    .add-button::after{
        width: 25px;
        height: 12px;
        top: 0;
        left:0;
    }
    li{
        width: 200px;
    }
}
@media  screen and (min-width:320px) and (max-width:400px) {
    .container{
        width: 300px;
    }
    .inner{
        width: 230px;
    }
    .input-side{
        width: 255px;
    }
    .add{
        width: 205px;
    }
    .ulContainer{
        width: 250px;
    }
    .add-button{
        padding: 8px;
        width: 150px;
    }
    .add-button::after{
        width: 17px;
        height: 12px;
        top: 0;
        left:0;
    }
}